tbody {
    cursor: pointer;
}

#navbar {
    background-color: #240653;
}

#homeButton {
    cursor: pointer;
}

body {
    background-color: #791baa;
/*    background-image: linear-gradient(red, yellow);*/
}

button {
    min-width: 6rem;
    max-width: 30rem;
}

.btn-primary {
    background-color: #791baa;
}

.btn-primary:hover {
    background-color: #240653;
}

.start-hidden {
    display: none;
}

#invitationLink {
    background-color: rgba(172, 255, 47, 0.489);
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}
