@font-face {
    font-family: "press start 2p";
    src: url(./font/PressStart2P.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(./font/Lato-Regular.ttf);
}

@keyframes kuore {
    0% {
        transform: rotateY(0deg) translateY(1.5em);
    }

    50% {
        transform: rotateY(180deg) translateY(0);
    }
    100% {
        transform: rotateY(360deg) translateY(0);
    }
}

@keyframes flip {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.8em);
    }
    100% {
        transform: translateY(0);
    }
}

html {
    --box-gap: 2.5em;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 4px 4px 6px #5e5e5e;
}

.section-1 {
    background: url(images/landing_img/section_1_back.jpg);
    background-position: center;
    font-family: "press start 2p";
    color: #4d00a5;
    text-align: center;
}

.section-2 {
    background: linear-gradient(180deg, #6A0AD8 1.62%, #3B007E 66.2%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-3 {
    background: url(images/landing_img/section_3.jpg);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-4 {
    background: linear-gradient(220.55deg, #B974FF 11.52%, #7A44D1 91.08%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-5 {
    background: linear-gradient(201.1deg, #FBC8FF 4.64%, #C44CED 76.26%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-6 {
    background: linear-gradient(24.48deg, #D124D4 17.17%, #E57BFF 73.86%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-7 {
    background: url(images/landing_img/section_4.jpg);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-8 {
    background: linear-gradient(180deg, #6A0AD8 1.62%, #3B007E 66.2%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
}

.section-9 {
    background: url(images/landing_img/section_1.jpg);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #3B007E;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template: repeat(2, 1fr);
    gap: 0;
}

.large-box {
    grid-column: span 2;
    width: 100%;
    height: 23em;
    padding: 7em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--box-gap);
}

.large-box-info {
    grid-column: span 2;
    width: 100%;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--box-gap);
}

.small-box {
    width: 100%;
    height: 20em;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--box-gap);
}

.vertical-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orizontal-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-background {
    height: 48px;
    width: 48px;
}

.logo {
    position: relative;
    height: 48px;
    width: 48px;
    margin-top: -10px;
    margin-left: -10px;
}

.logo-background>img,
.logo>img {
    height: 100%;
    width: 100%;
}

.app-button {
    background: linear-gradient(rgb(255, 104, 179), rgb(255, 17, 116));
    height: 10%;
    width: 40%;
    max-height: 4em;
    max-width: 16em;
    padding: 2em 1em;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    font-family: "press start 2p";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-container-large {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1em;
}

.learn-button {
    background: linear-gradient(rgb(78, 0, 223), rgb(57, 0, 110));
    height: 10%;
    width: 40%;
    max-height: 4em;
    max-width: 16em;
    padding: 2em 1em;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    font-family: "press start 2p";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
}

.row-icon {
    background-color: #4d00a5;
    width: 80%;
    height: 2px;
    border: none;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.large-box>.title-container {
    font-size: 2rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.small-box>.title-container {
    font-size: 1.6rem;
    font-family: "press start 2p";
    height: auto;
    width: 70%;
    max-width: 25em;
}

.large-box>.text-container {
    font-size: 1.5rem;
    font-family: "Lato";
    height: auto;
    width: 80%;
    max-width: 25em;
}

.section-1 .text-container {
    font-size: 1.6rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.section-7 .text-container {
    font-size: 1.4rem;
    font-family: "Lato";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.large-box-info>.text-container {
    font-size: 1.5rem;
    font-family: "Lato";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.section-1>.title-container {
    font-size: 5rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.large-box-info>.title-container {
    font-size: 2rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.small-box>.text-container {
    font-size: 1.5rem;
    font-family: "Lato";
    height: auto;
    width: 80%;
    max-width: 25em;
}

.newsletter-button {
    background: linear-gradient(rgb(78, 0, 223), rgb(57, 0, 110));
    padding: 0.4em 1em;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    font-family: "press start 2p";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 60em;
    width: 50%;
    gap: 1%;
}

.email-image {
    max-width: 5em;
    width: 20%;
}

.low-image {
    max-width: 8em;
    width: 15%;
    transform: translateY(0.8em);
}

.section-2>img {
    max-width: 60em;
    width: 80%;
    height: auto;
}

.email-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.list-todo {
    line-height: 2rem;
}

.section-8>.title-container {
    text-align: center;
}

.section-8>.orizontal-items>img {
    width: 30%;
    max-width: 15em;
}

.email-input {
    font-size: 1.2rem;
    width: 40%;
    background: none;
    border-radius: 0;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #fff;
    box-shadow: 0;
}

.email-input::placeholder{
    color: #fff;
}

.email-input:focus{
    border: 0;
    outline: 0;
    border-bottom: 2px solid #fff;
}

.input-error{
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1em;
    
}

.mce_inline_error{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mc-field-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}

.space-invader-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.space-invader-container>img{
    width: 15%;
    max-width: 7em;
}

@media screen and (max-width: 60em) {
    .large-box {
        grid-column: span 1;
    }

    .large-box-info {
        grid-column: span 1;
    }

    .low-image {
        transform: translateY(0.5em);
    }

    .small-box>.text-container,
    .large-box-info>.text-container,
    .large-box>.text-container,
    .section-1 .text-container,
    .section-7 .text-container {
        font-size: 1.1rem;
    }

    .small-box>.title-container,
    .large-box-info>.title-container {
        font-size: 1.4rem;
    }

    .large-box>.title-container {
        font-size: 1.2rem;
    }

    .section-1>.title-container {
        font-size: 3.5rem;
    }

    .app-button,
    .learn-button,
    .newsletter-button {
        font-size: 1rem;
    }

    .list-todo {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .mc-field-group {
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .list-todo {
        font-size: 0.6rem;
        line-height: 1.2rem;
    }
}