@font-face {
    font-family: "press start 2p";
    src: url(./font/PressStart2P.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(./font/Lato-Regular.ttf);
}

html {
    --section-height: 40em;
    --box-gap: 2em;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 4px 4px 6px #5e5e5e;
}


.section-1 {
    background: url(images/landing_img/section_1_back.jpg);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #4d00a5;
    text-align: center;
}

.section-1>h1 {
    font-size: 5rem;
}

/* .section-1>p {
    font-size: 2rem;
} */

.section-2 {
    background: linear-gradient(180deg, #6A0AD8 1.62%, #3B007E 66.2%);
    ;
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-2>h3 {
    font-size: 1.8rem;
}

/* .section-2>p {
    font-size: 1.5rem;
} */

.section-3 {
    background: url(images/landing_img/section_3.jpg);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-4 {
    background: linear-gradient(220.55deg, #B974FF 11.52%, #7A44D1 91.08%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-5 {
    background: linear-gradient(201.1deg, #FBC8FF 4.64%, #C44CED 76.26%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-6 {
    background: linear-gradient(24.48deg, #D124D4 17.17%, #E57BFF 73.86%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-7 {
    background: url(images/landing_img/section_4.jpg);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
    text-align: center;
}

.section-8 {
    background: linear-gradient(180deg, #6A0AD8 1.62%, #3B007E 66.2%);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #fff;
}

.section-9 {
    background: url(images/landing_img/section_1.jpg);
    background-size: 100% 100%;
    font-family: "press start 2p";
    color: #3B007E;
    text-align: center;
}

/* .section-3>h3,
.section-4>h3,
.section-5>h3,
.section-6>h3 {
    font-size: 1.6rem;
} */

/* .section-3>p,
.section-4>p,
.section-5>p,
.section-6>p,
.section-9>p {
    font-size: 1.5rem;
    font-family: "Lato";
} */

.container {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template: repeat(2, 1fr);
    gap: 0;
}

.large-box {
    grid-column: span 2;
    width: 100%;
    height: var(--section-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--box-gap);
}

.large-box-info{
    grid-column: span 2;
    width: 100%;
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--box-gap);
}

.small-box {
    width: 100%;
    height: var(--section-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--box-gap);
}

.vertical-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orizontal-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-background {
    height: 48px;
    width: 48px;
}

.logo {
    position: relative;
    height: 48px;
    width: 48px;
    margin-top: -10px;
    margin-left: -10px;
}

.logo-background>img,
.logo>img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 375px) {
    .large-box {
        grid-column: span 1;
    }
    .large-box-info{
        grid-column: span 1;
    }
}

.app-button {
    background: linear-gradient(rgb(255, 104, 179), rgb(255, 17, 116));
    height: 4em;
    width: 16em;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    font-family: "press start 2p";
    cursor: pointer;
}

.space-container-large {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1em;
}

.learn-button {
    background: linear-gradient(rgb(78, 0, 223), rgb(57, 0, 110));
    height: 4em;
    width: 16em;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    font-family: "press start 2p";
    cursor: pointer;
}

.space-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
}

.row-icon{
    background-color: #4d00a5;
    width: 80%;
    height: 2px;
    border: none;
}

.icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.large-box > .title-container{
    font-size: 2rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.small-box > .title-container{
    font-size: 1.6rem;
    font-family: "press start 2p";
    height: auto;
    width: 70%;
    max-width: 25em;
}

.large-box > .text-container{
    font-size: 1.5rem;
    font-family: "Lato";
    height: auto;
    width: 80%;
    max-width: 25em;
}

.section-1 .text-container{
    font-size: 1.6rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.section-7 .text-container{
    font-size: 1.4rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.large-box-info > .text-container{
    font-size: 1.5rem;
    font-family: "Lato";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.large-box-info > .title-container{
    font-size: 2rem;
    font-family: "press start 2p";
    height: auto;
    width: 80%;
    max-width: 40em;
}

.small-box > .text-container{
    font-size: 1.5rem;
    font-family: "Lato";
    height: auto;
    width: 80%;
    max-width: 25em;
}

.newsletter-button{
    background: linear-gradient(rgb(78, 0, 223), rgb(57, 0, 110));
    height: 4em;
    width: 16em;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    font-family: "press start 2p";
    cursor: pointer;
}

.email-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7em;
    width: 60em;
    gap: 1em;
}

.low-image{
    transform: translateY(1em);
}

.prova{
    background-color: #fff;
}