/* *{
    outline: 1px green solid;
} */

.balance-container {
    position: relative;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.balance-container p {
    font-size: 2rem;
    text-align: center;
}

.balance-container table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.balance-container table thead tr th {
    font-size: 1.3rem;
    width: 16.6%;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #000;
}

.balance-container table tbody tr td {
    font-size: 1.1rem;
    width: 16.6%;
    padding: 0.5em 0em;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.name-token {
    text-indent: 1.5em;
}

.text-token {
    text-align: center;
}

.leave-group {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leave-container {
    width: 40%;
    height: 10em;
    background: #fff;
    border-radius: 1em;
}

.leave-container p {
    font-size: 2rem;
    text-align: center;
}

.container-buttons {
    position: relative;
    width: 80%;
    height: 3em;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.exit-button {
    width: 5em;
    font-size: 1.5rem;
    color: #fff;
    background: rgb(255, 0, 0);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.close-button {
    width: 5em;
    font-size: 1.5rem;
    color: #0000ff;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0.2em;
    cursor: pointer;
}

.members-container {
    position: relative;
    width: 60%;
    height: auto;
    margin-left: 10%;
}

.members-title {
    font-size: 2rem;
    text-align: center;
}

.members-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.members-table-title th {
    font-size: 1.3rem;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #000;
}

.members-table tbody td {
    font-size: 1.1rem;
    padding: 0.5em 0em;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.member-name {
    width: 90%;
    text-indent: 2em;
}

.member-number {
    width: 10%;
    text-align: center;
}

.tokens-container {
    position: relative;
    width: 80%;
    height: auto;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tokens-container button, .tokens-container select, .tokens-container input{
    width: 10em;
    
}

.tokens-title {
    font-size: 2rem;
    text-align: center;
}

.tokens-text {
    font-size: 1.1rem;
}

.token-send {
    color: #fff;
    font-size: 1.1rem;
    background: rgb(0, 170, 0);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.user-candidate-container,
.token-candidate-container,
.quorum-candidate-container,
.description-container {
    position: relative;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 3em;
}

.user-candidate-table,
.token-candidate-table,
.quorum-candidate-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.user-candidate-table-title,
.token-candidate-table-title,
.quorum-candidate-table-title {
    font-size: 1.3rem;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #000;
}

.tbody-user-candidate tr td,
.tbody-token-candidate tr td,
.tbody-quorum-candidate tr td {
    font-size: 1.1rem;
    width: 16.6%;
    padding: 0.5em 0em;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.vote-button {
    color: #fff;
    font-size: 1.1rem;
    background: rgb(0, 170, 0);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.vote-candidate, .new-token-section, .change-token-section, .new-quorum-section {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.vote-candidate-container, .new-token-container, .change-token-container, .new-quorum-container {
    width: 40em;
    height: auto;
    background: #fff;
    border-radius: 1em;
}

.new-token-container h2, .change-token-container h2, .new-quorum-container h2{
    text-align: center;
}

.new-token-container label, .change-token-container label, .new-quorum-container p {
    margin-left: 3em;
    font-size: 1.2rem;
}

.new-quorum-container input {
    margin-left: calc(50% - 7em);
}

.change-token-container select{
    margin-left: calc(50% - 3em);
    font-size: 1.2rem;
}

.vote-yes-button, .confirm-button {
    width: 5em;
    font-size: 1.6rem;
    color: #fff;
    background: rgb(0, 170, 0);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.vote-no-button {
    width: 5em;
    font-size: 1.6rem;
    color: #fff;
    background: rgb(255, 0, 0);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

#voteTokenInfo li{
    font-size: 1.2rem;
}

.propose-container{
    margin-top: 3em;
    margin-left: 30%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.propose-container button{
    font-size: 1.1rem;
    color: #fff;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #0000ff;
    cursor: pointer;
}

.members-link {
    background-color: rgba(172, 255, 47, 0.489);
}



@media screen and (max-width: 800px) {
    .balance-container {
        width: 98%;
        margin-left: 1%;
    }
    .propose-container {
        width: 80%;
        margin-left: 10%;
    }
    .votes-container {
        width: 100%;
    }
    .user-candidate-container {
        width: 98%;
        margin-left: 1%;
    }
    .token-candidate-container {
        width: 98%;
        margin-left: 1%;
    }
    .quorum-candidate-container {
        width: 98%;
        margin-left: 1%;
    }
}

.container-update{
    z-index: 1;
    position: sticky;
    top: 5.1em;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-update{
    
    font-size: 1.1rem;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #fff;
    cursor: pointer;
}